@charset "UTF-8";
@import 'normalize.css';

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
/* @import 'tailwindcss/preflight.css' layer(base); */
@import 'tailwindcss/utilities.css' layer(utilities);

/* すべての要素のボックスモデルをボーダーボックスに変更する */
html *,
::before,
::after {
  box-sizing: border-box;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  margin: 0 auto; /* コンテナを中央に配置する */
  width: 100%;
  line-height: 1.7; /* 和文を想定する */
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

/* 画像をレスポンシブにするイディオム */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; /* 画像の下に空くスペースを消す */
}

/* PC やタブレットのルール */
@media screen and (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}
