@charset "UTF-8";
@import 'normalize.css';

/* すべての要素のボックスモデルをボーダーボックスに変更する */
html *,
::before,
::after {
  box-sizing: border-box;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  margin: 0 auto; /* コンテナを中央に配置する */
  width: 100%;
  max-width: 80ch; /* padding, border までを含めた最大幅 */
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

/* 画像をレスポンシブにする */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; /* 画像の下に空くスペースを消す */
}

/* ナビゲーションのスタイル */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
}

/* PC やタブレットのルール */
@media screen and (min-width: 636px) {
  html {
    font-size: 16px;
  }

  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}
