---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Tag from '@/components/Tag.astro';
import type { MarkdownBlogPost } from '@/scripts/types.ts';
import { aggregateTags } from '@/scripts/tag';

type Post = {
  url: string;
  frontmatter: MarkdownBlogPost;
};

const allPosts: Post[] = Object.values(
  import.meta.glob('@/pages/posts/*.md', { eager: true }),
);

const tagsList = allPosts.map((post) => post.frontmatter.tags);
const tags = aggregateTags(tagsList);

const pageTitle = 'タグインデックス';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {tags.map((tag) => <Tag tag={tag.tag} count={tag.count} />)}
  </div>
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
</style>
