---
import BaseLayout from '@/layouts/BaseLayout.astro';
import type { MarkdownBlogPost } from '@/scripts/types.ts';

type Post = {
  url: string;
  frontmatter: MarkdownBlogPost;
};

const allPosts: Post[] = Object.values(
  import.meta.glob('@/pages/posts/*.md', { eager: true }),
);
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

const pageTitle = 'タグインデックス';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <a class="tag-link" href={`/tags/${tag}`}>
          <p class="tag">
            <i class="fa fa-tags" />
            <span class="tag-text">{tag}</span>
          </p>
        </a>
      ))
    }
  </div>
</BaseLayout>

<style>
  i {
    margin-right: 0.2rem;
  }

  .tag-link,
  .tag-link:visited {
    text-decoration: none;
    color: inherit;

    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    padding: 0 0;
    margin: 0 0;
  }

  .tag-text {
    color: #00539f;
  }
</style>
