---
import BaseLayout from '@/layouts/BaseLayout.astro';
import type { MarkdownBlogPost } from '@/scripts/types.ts';
import { aggregateTags } from '@/scripts/tag';

type Post = {
  url: string;
  frontmatter: MarkdownBlogPost;
};

const allPosts: Post[] = Object.values(
  import.meta.glob('@/pages/posts/*.md', { eager: true }),
);

const tagsList = allPosts.map((post) => post.frontmatter.tags);
const tags = aggregateTags(tagsList);

const pageTitle = 'タグインデックス';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <a class="tag-link" href={`/tags/${tag.tag}`}>
          <p class="tag">
            <i class="fa fa-tags" />
            <span class="tag-text">{tag.tag}</span>
            <span class="tag-count">{tag.count}</span>
          </p>
        </a>
      ))
    }
  </div>
</BaseLayout>

<style>
  .tag-link,
  .tag-link:visited {
    text-decoration: none;
    color: inherit;

    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;

    transition:
      border 0.2s,
      background-color 0.2s,
      transform 0.2s;
  }

  .tag-link:hover {
    border: solid 1px #00539f;
    background-color: #e2e8f0;
    transform: translateY(-0.1em);
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    padding: 0 0;
    margin: 0 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .tag-text {
    color: #00539f;
  }
  .tag-count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5rem;
    height: 1.5rem;
    padding: 0 0.5rem;
    background-color: #eeeeee;
    border-radius: 9999px;
    font-size: 0.75rem;
  }
</style>
