---
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPost from '@/components/BlogPost.astro';
import type { MarkdownBlogPost } from '@/scripts/types.ts';

type Post = {
  url: string;
  frontmatter: MarkdownBlogPost;
};

const allPosts: Post[] = Object.values(
  import.meta.glob('@/pages/posts/**/*.md', { eager: true }),
);
const pageTitle = 'ブログ記事一覧';
---

<BaseLayout pageTitle={pageTitle}>
  <!-- FIXME: 共通コンポーネントにする -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    {
      allPosts
        .sort(
          (a, b) =>
            new Date(b.frontmatter.pubDate).getTime() -
            new Date(a.frontmatter.pubDate).getTime(),
        )
        .map((post) => <BlogPost url={post.url} post={post.frontmatter} />)
    }
  </div>
</BaseLayout>
