---
const { url, title, pubDate } = Astro.props;

interface Props {
  url: string;
  title: string;
  pubDate: string;
}

const date = new Date(pubDate);
const options: Intl.DateTimeFormatOptions = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};
const formattedDate = date
  .toLocaleDateString('ja-JP', options)
  .replace(/\//g, '/'); // 日本の形式で日付をフォーマット
---

<li><a href={url}>{formattedDate}: {title}</a></li>
