---
import type { MarkdownBlogPost } from '@/scripts/types.ts';

const { url, post } = Astro.props;

interface Props {
  url: string;
  post: MarkdownBlogPost;
}

const date = new Date(post.pubDate);
const options: Intl.DateTimeFormatOptions = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};
const formattedDate = date
  .toLocaleDateString('ja-JP', options)
  .replace(/\//g, '/'); // 日本の形式で日付をフォーマット
---

<li><a href={url}>{formattedDate}: {post.title}</a></li>
