---

---

<footer class="border-t border-gray-300 p-4">
  <div
    class="flex flex-col items-center max-w-5xl mx-auto gap-4 sm:flex-row sm:justify-between"
  >
    <div class="flex flex-col items-center gap-2 sm:block">
      <p class="copyright m-0 text-sm text-gray-500">
        &copy; {new Date().getFullYear()} maguroguma. All rights reserved.
      </p>
      <p class="m-0 text-sm text-gray-500">
        Powered by <a
          href="https://astro.build/"
          target="_blank"
          rel="noopener noreferrer">Astro</a
        >
      </p>
    </div>
    <div class="flex flex-row gap-4">
      <a
        class="text-2xl text-inherit no-underline"
        href="/rss.xml"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fas fa-rss"></i>
      </a>
      <a
        class="text-2xl text-inherit no-underline"
        href="https://x.com/maguroguma0712"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-twitter"></i>
      </a>
      <a
        class="text-2xl text-inherit no-underline"
        href="https://github.com/maguroguma"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</footer>
