---

---

<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-left">
      <p class="copyright">
        &copy; {new Date().getFullYear()} maguroguma. All rights reserved.
      </p>
    </div>
    <div class="footer-right">
      <a class="social-link" href="/rss.xml">
        <i class="fas fa-rss"></i>
      </a>
      <a
        class="social-link"
        href={`https://x.com/maguroguma0712`}
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-twitter"></i>
      </a>
      <a
        class="social-link"
        href={`https://github.com/maguroguma`}
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</footer>

<style>
  .site-footer {
    border-top: 1px solid #e2e8f0;
    padding: 1rem 1rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80ch;
    margin: 0 auto;
    gap: 1rem;
  }

  .footer-right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .copyright {
    margin: 0;
    font-size: 0.8rem;
    color: #64748b;
  }

  .social-link,
  .social-link:visited {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
  }

  @media screen and (min-width: 636px) {
    .footer-container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
