---

---

<div class="hamburger">
  <i class="fas fa-bars"></i>
</div>

<style>
  .hamburger {
    cursor: pointer;
    font-size: 1.8rem;
  }

  @media screen and (min-width: 636px) {
    .hamburger {
      display: none;
    }
  }
</style>
