---

---

<!-- NOTE: .nav-links は JS selector のために必須 -->
<div
  class="nav-links flex max-h-0 flex-col gap-0 overflow-hidden transition-[max-height] duration-300 ease-in-out sm:static sm:max-h-none sm:w-auto sm:flex-row sm:gap-4 sm:overflow-visible sm:bg-transparent"
>
  <a href="/" class="block p-1 text-inherit uppercase no-underline">ホーム</a>
  <!-- <a href="/about/" class="block px-1 py-1 uppercase no-underline text-inherit">概要</a> -->
  <a href="/blog/" class="block p-1 text-inherit uppercase no-underline"
    >ブログ</a
  >
  <a href="/tags/" class="block p-1 text-inherit uppercase no-underline">タグ</a
  >
</div>

<style>
  .nav-links.expanded {
    max-height: 100px;
  }
</style>
