---

---

<!-- NOTE: .nav-links は JS selector のために必須 -->
<div
  class="nav-links flex flex-col gap-0 overflow-hidden max-h-0 transition-[max-height] duration-300 ease-in-out
    sm:flex-row sm:gap-4 sm:static sm:w-auto sm:bg-transparent sm:max-h-none sm:overflow-visible"
>
  <a href="/" class="block p-1 uppercase no-underline text-inherit">ホーム</a>
  <!-- <a href="/about/" class="block px-1 py-1 uppercase no-underline text-inherit">概要</a> -->
  <a href="/blog/" class="block p-1 uppercase no-underline text-inherit"
    >ブログ</a
  >
  <a href="/tags/" class="block p-1 uppercase no-underline text-inherit">タグ</a
  >
</div>

<style>
  .nav-links.expanded {
    max-height: 100px;
  }
</style>
