---

---

<div class="nav-links">
  <a href="/">ホーム</a>
  <!-- <a href="/about/">概要</a> -->
  <a href="/blog/">ブログ</a>
  <a href="/tags/">タグ</a>
</div>

<style>
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    margin: 0;
  }

  .nav-links a {
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
  }

  .expanded {
    max-height: 150px; /* 必要に応じて適切な高さに調整 */
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      position: static;
      width: auto;
      background: none;
      max-height: none; /* デスクトップ時は高さ制限を解除 */
      overflow: visible; /* デスクトップ時はオーバーフローを解除 */
    }
  }
</style>
