---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '@fortawesome/fontawesome-free/css/all.css';

const { pageTitle } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="layout">
      <Header />
      <main class="page-main">
        <h1>{pageTitle}</h1>
        <slot />
      </main>
      <Footer />

      <script>
        import '../scripts/menu.ts';
      </script>
    </div>
  </body>
</html>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .page-main {
    flex: 1;

    width: 100%;
    max-width: 80ch; /* padding, border までを含めた最大幅 */
    margin: 0 auto;
    padding: 2rem 1rem;
  }
</style>
